body {
  color: black;
  background-color: burlywood;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Selectores de etiqueta=> solo se nombra las etiquetas a estilizar, abaraca todas las del nombre declarado */
p {
  color: rgb(255, 255, 255);
  background-color: rgba(50, 50, 50, 0.574);
}

h1 {
  color: white;
  background-color: black;
}

/* Selectores de clase=> abarca a todas las etiquetas con la misma clase declarada */
.bordes-bonitos {
  border-radius: 15px; /*  propiedad para darle un redondeado a los bordes de la etiqueta*/
  padding: 15px; /*propiedad para aumentar el margen interno */
}

.peligro {
  color: red;
  font-family: "Times New Roman", Times, serif;
}

/*Selectores de ID => no hay dos iguales!!!, solo apunta a la etiqueta con ese id */
#parrafo-especial {
  color: yellow;
  background-color: blue;
}
